.home {
  background-image: url('/Users/choijinseo/Desktop/building/LectureRoomFinder/room/src/image/sea.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}
.App {
  margin-top: 80px;
  text-align: center;
}
.middle-big {
  font-size: 70px;
  font-family: 500;
}
.middle-small {
  margin-top: 20px;
  font-size: 20px;
}
.centerfram {
  position: relative;
  width: 1000px;
  height: 150px;
  background-color: white;
  opacity: 0.9;
  border-radius: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}
.center-main {
  padding-top: 50px;
  padding-left: 150px;
}
.campusback {
  position: fixed;
  background-image: url('/Users/choijinseo/Desktop/building/LectureRoomFinder/room/src/image/초원.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100vw;
}
.campusmainframe {
  position: relative;
  width: 1200px;
  height: 600px;
  background-color: green;
  border-radius: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  opacity: 0.8;
  padding-top: 50px;
}
.campusimg {
  border-radius: 40px;
  position: relative;
  background-image: url('/Users/choijinseo/Desktop/building/LectureRoomFinder/room/src/image/campus.jpg');
  width: 1000px;
  height: 500px;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
}
.signupback {
  position: fixed;
  background-color: rgb(64, 135, 242);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100vw;
}
.signupmainframe {
  position: relative;
  width: 800px;
  height: 650px;
  background-color: white;
  border-radius: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 120px;
}
.signupmain {
  text-align: center;
  font-size: 50px;
  padding-top: 5%;
}
.signupmainunder {
  text-align: center;
  padding-top: 2%;
}
.underframe {
  padding-right: 20%;
  padding-left: 20%;
  padding-top: 5%;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
